---

- name: create nginx dirs
  file:
    path: "{{ item|safe|trim }}"
    state: directory
    owner: "{{ nginx_user }}"
    group: "{{ nginx_group }}"
    mode: 0755
    recurse: true
  changed_when: false
  with_items:
    - "{{ nginx_config_dir }}/sites-available"
    - "{{ nginx_config_dir }}/sites-enabled"
    - "{{ nginx_config_dir }}/error-page"
    - "{{ nginx_config_dir }}/ssl"
    - "{{ nginx_config_dir }}/site.d"
    - "{{ nginx_log_path }}"

- name: transfer site.d configuration
  template:
    src: "{{ item }}"
    dest: "{{ nginx_config_dir }}/site.d/{{ item | basename }}"
  with_fileglob:
    - ../templates/config/site.d/*.*

- name: transfer error-page configuration
  template:
    src: "{{ item }}"
    dest: "{{ nginx_config_dir }}/error-page/{{ item | basename }}"
  with_fileglob:
    - ../templates/config/error-page/*.*

- name: transfer nginx.conf configuration
  template:
    src: "{{ item }}"
    dest: "{{ nginx_config_dir }}/nginx.conf"
  with_fileglob:
    - ../templates/config/nginx.conf

- name: copy latest nginx version list file
  ansible.builtin.template:
    src: ../templates/nginx.list
    dest: /etc/apt/sources.list.d

- name: transfer sites-enabled configuration
  template:
    src: "{{ item }}"
    dest: "{{ nginx_config_dir }}/sites-enabled/{{ item | basename }}"
  with_fileglob:
    - ../templates/config/sites-enabled/*.*

- name: create nginx logs files
  changed_when: false
  file:
    path: "{{ item }}"
    mode: 0644
    state: touch
  with_items:
    - "{{ nginx_log_path }}/error.log"
    - "{{ nginx_log_path }}/access.log"
