---
# handlers for ansible-role-nginx

- name: restart nginx
  systemd:
    name: nginx
    state: restarted

- name: reload nginx
  systemd:
    name: nginx
    state: reloaded

- name: start nginx
  systemd:
    name: nginx
    state: started